/*Propiedades customizadas*/
:root{
    --fuentePrincipal: 'Roboto', cursive;
    --primario: #0A475C;
    --secundario: #42BEA5;
    --gris: #B9B9B9;
    --blanco: #FFF;

}

/*Aplicacion del modelo de caja natural al layout*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/
body {
    font-family: var(--fuentePrincipal);
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-top: 50px; 
    color: var(--blanco);
}

h2 {
    text-align: center;
    color: black;
}

h3 {
  margin-top: 0;
}

p {
  margin-bottom: 5px;
}

/*Index*/

.titulo-imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
} 


.section-links {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section-link {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    width: 100%;
}

.section-link:hover {
    transform: translateY(-5px);
}

.section-link h2 {
    margin-top: 0;
    color: #333333;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.contenedor-imagen img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Productos*/
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--gris);
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.product-info {
    display: flex;
    align-items: center;
}
.product-info img {
    margin-right: 50px;
}
.links a {
display: inline-block;
margin: 10px;
padding: 10px 20px;
background-color: #f0f0f0;
color: #333;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.links a:hover {
background-color: #ddd;
}

/*Reseñas*/
.review {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    background-color: var(--gris);
  }

  .rating {
    background-color: #f8b400;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
  }

  .content {
    flex-grow: 1;
  }


  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
  }


  .button:hover {
    background-color: #45a049;
  }

  .links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .links a:hover {
    background-color: #ddd;
  }

/*EscribirReseña*/

form {
    width: 50%; 
    margin: 0 auto; 
    background-color: #fff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

textarea {
    height: 100px; 
}

input[type="submit"] {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

/*Promociones*/
.promocion {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: var(--gris);

    img {
        width: 500px;
        height: 500px;
        margin-right: 20px;
    }

    h2 {
        text-align: left;
    }
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #ddd;
}

/*Empleados*/
.estilista {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--gris);
    border-radius: 5px;
}
.estilista img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
#horarios {
    margin: 0 auto; 
    padding: 20px;
    background-color: #B9B9B9;
    border-radius: 5px;
    text-align: center;
}

.links a {
display: inline-block;
margin: 10px;
padding: 10px 20px;
background-color: #f0f0f0;
color: #333;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.links a:hover {
background-color: #ddd;
}

/*Citas*/
#banner {
    width: 100%;
    height: 200px;
    background-image: url('../img/bannercitas.png');
    background-size: cover;
}

#agendar-cita {
    padding: 20px;
}

.confirmar-cita {
    margin-top: 50px;
    text-align: center;
}

.confirmar-cita h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.boton {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-azul {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

#citas-imagen {
    margin-top: 50px;
    padding: 20px;
    background-color: #f0f0f0;
}

.fecha-disponible {
    margin-bottom: 20px;
    text-align: center;
}

.fecha-disponible img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #ddd;
}

/*Footer*/
.footer{
    padding: 1rem;
    p{
        text-align: center;
        color: var(--blanco);
    }
}

/*Servicios*/
.listado-servicios{
    display: grid;
    gap: 2rem;

    @media (min-width: 768px){
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .servicio{
        background-color: var(--blanco);
        padding: 2rem;
        border-radius: 2rem;
        transition-property: transform;
        transition: 300ms;
        text-align: center;

        &.seleccionado{
            background-color: var(--secundario);

            p{
                color: var(--blanco);
            }

            &:hover{   
                .precio-servicio{
                    color: var(--blanco);
                }
            }

        }

        &:hover{
            transform: scale(1.1);
            box-shadow: 1rem 2rem 3rem #1b1a1a;
            cursor: pointer;

            .precio-servicio{
                color: red;
            }
        }

        p{
            color: black;
            margin: 0 0 calc(2rem/ 4) 0;
        }

        .precio-servicio{
            color: var(--secundario);
            font-weight: bold;
            font-size: 3rem;
            margin: 0;
        }
    }
}

.seccion{

    padding: 5rem 0;
    display: none;

    .text-center{
        text-align: center;
    }

}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}

/*Resumen*/

.contenido-resumen{

    p{
        margin-bottom: 1rem;
    }

    span{
        color: var(--blanco);
        font-family: bold;
        font-size: 2.4rem;
    }

}

.contenedor-servicio{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);

    &:last-of-type{
        margin-bottom: 2rem;
    }

}

/*Alertas*/
.alerta{
    padding: calc(2rem / 4);
    color: var(--blanco);
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    &.error{
        background-color: red;
    }
    &.exito{
        background-color: #28a745;
    }
}

/*TABS*/
.tabs{

    @media (min-width: 768px){
        display: flex;
    }

    button{
        display: block;
        margin-bottom: 1rem;
        width: 100%;
        padding: 1rem;
        background-color: #28a745;
        color: var(--blanco);
        text-transform: uppercase;
        border: none;
        font-weight: bold;
        transition: background-color 400ms ease-in-out;

        &:hover{
            cursor: pointer;
            background-color: darken(var(--primario), 10%);
        }

        &.actual{
            background-color: var(--blanco);
            color: var(--primario);
        }
    }

}